<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h3>Edit : @<%=post.username %></h3>
    <h3>id : <%=post.id %></h3>
<form method="post" action="/post/<%= post.id%>?_method=PATCH">
    <textarea name="content" rows="8" cols="28" > <%= post.content %></textarea>
    <button>submit</button>
</form>
</body>
</html>